@import url(./configuration/Reset.css);
@import url(./configuration/App.css);

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--secondary-color);
  padding: 2rem;
}

.footer h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.footer ul {
  list-style-type: none;
}
