@import url(./configuration/Reset.css);
@import url(./configuration/App.css);

.header {
    background-color: var(--primary-color);
    color: var(--text-color);
    position: sticky;
    top: 0;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    box-shadow: 0px 4px 16px rgba(17, 17, 26, 0.1),
      0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1);
  }

  header a {
    color: var(--text-color);
    text-decoration: none;
    padding-right: 1.2em;
    font-size: 1.2rem;
  }
  
  header a:hover {
    color: var(--text-second-color);
    transition: 200ms ease-in-out;
  }