@import url(./configuration/Reset.css);
@import url(./configuration/App.css);

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
    background-color: var(--secondary-color);
    color: var(--text-color);
    position: static;
    top: 0;
    font-size: 1.2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 16px rgba(17, 17, 26, 0.1),
      0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1);
  }

  header a {
    color: var(--text-color);
    text-decoration: none;
    padding-right: 1.2em;
    font-size: 1.2rem;
  }
  
  header a:hover {
    color: var(--border-second-color);
    transition: 200ms ease-in-out;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button{
    border: none;
    background-color: var(--secondary-color);
  }

  .globe{
    cursor: pointer;
  }

  .social-medias img{
    width: 2rem;
  }