@import url(./configuration/Reset.css);
@import url(./configuration/App.css);

.tech{
  display: flex;
  align-items: center;
  justify-content: center;
}

.tecnology-title{
  display: none;
  color: var(--text-color);
  font-size: 1.5rem;
}

.tecnologia {
    font-size: 0.9rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin: 0;
  }
  
  .linguagens {
    color: var(--text-color);
    border-radius: 15px;
  }
  
  .linguagens img {
    width: 4.5rem;
  }
  
  .tecnology-name {
    color: var(--text-color);
    font-size: medium;
  }
  
  .linguagens:hover {
    cursor: pointer;
  }