@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

:root {
  --primary-color: #292b28;
  --secondary-color: #4e4d4a;
  --bg-second-color: #2e3031;
  --text-color: #ffffff;
  --border-color: #161616;
  --border-second-color: #e3b12b;
}

.cor {
  color: var(--border-second-color);
}

.titulo {
  color: var(--text-color);
  text-align: center;
  font-size: 1.7rem;
}

.homepage {
  background-color: var(--primary-color);
}

/* Media Querrys */

@media (max-width: 500px) {
  .projetos h2,
  h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .projetos h2,
  h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 870px) {
  header nav > a {
    display: none;
  }

  .titulo {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1rem;
  }

  .typing {
    font-size: 1.5rem;
  }
}

@media (min-width: 840px) {
  .tecnologia {
    grid-template-columns: repeat(3, 2fr);
  }
}

@media (min-width: 1200px) {
  .tecnologia {
    grid-template-columns: repeat(7, 1fr);
  }
}
